{% extends "base.html" %}

{% block content  %}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Detalles Deposito: {{ deposito.nombre }}</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>
   
        
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Stock Embotellado</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Lote</th>
                            <th>Varietal</th>
                            <th>Cantidad</th>
                            <th>Fecha etiquetado</th>
                            <th>Fecha movimiento</th>
                          </tr>
                        </thead>

                        <tbody>
                          
                            {% for i in etiquetados %}
                                {% if i.cantidad != 0 %}
                                    <tr>
                                    <td>{{ i.id }}</td>
                                    <td> {{ i.stock.lote }}</td>
                                    <td> {{ i.stock.varietal }}</td>
                                    <td> {{ i.cantidad }}</td>
                                    <td>{{ i.stock.fecha_etiquetado }}</td>
                                    <td>{{ i.fecha_movimiento }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            
                          
                          
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                <!-- /.card -->
    
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Stock Empaquetado</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Lote</th>
                                <th>Varietal</th>
                                <th>Cantidad</th>
                                <th>Fecha etiquetado</th>
                                <th>Fecha movimiento</th>
                              </tr>
                            </thead>
                            <tbody>
                                
                                {% for i in empaquetados %}
                                    {% if empaquetados.cantidad_cajas != 0 %}
                                        <tr>
                                        <td>{{ i.id }}</td>
                                        <td> {{ i.stock.lote }}</td>
                                        <td> {{ i.stock.varietal }}</td>
                                        <td> {{ i.cantidad }}</td>
                                        <td>{{ i.stock.stock.fecha_eti }}</td>
                                        <td>{{ i.fecha_movimiento }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                
                              
                              
                            </tbody>
                          </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                
    
                
                
                </div>
              <!-- /.col -->
            </div>
           
            
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
      
      
      
      

{% endblock content  %}





