{% extends "base.html" %}

{% block content  %}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Historial Movimientos</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>
   
        
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Movimientos stock desde bodega</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Destino</th>
                              <th>Tipo stock</th>
                              <th>Lote</th>
                              <th>Varietal</th>
                              <th>Cantidad</th>
                              <th>Fecha movimiento</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for movimiento in movimientos %}
                                <tr>
                                    <td>{{ movimiento.id }}</td>
                                    <td>{{ movimiento.deposito.nombre }}</td>
                                    <td>{{ movimiento.tipo_movimiento }}</td>
                                    <td>{{ movimiento.stock.lote }}</td>
                                    <td>{{ movimiento.stock.varietal }}</td>
                                    <td>{{ movimiento.cantidad }}</td>
                                    <td>{{ movimiento.fecha_movimiento }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                      </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                
    
                
                
                </div>
              <!-- /.col -->
            </div>
           
            
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
      
      
      
      

{% endblock content  %}


