{% extends "base.html" %}
{% load static %}

{% block content  %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mover stock a <strong>{{ deposito.nombre }}</strong></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url "index_admin" %}">Inicio</a></li>
              <li class="breadcrumb-item active">Mover stock </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center ">
                  
                    </div>
                    </div>
                    <div class="card">
                      <div class="row">
                        <div class="col-12">
                          
                            <div class="card-header">
                              <h3 class="card-title">Mover Stock a <strong>{{ deposito.nombre }}</strong>  </h3>
              
                              <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
              
                                  <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            

                            
                            <div class="card-body table-responsive p-0">
                              <input type="hidden" name="" id="depositoId" value="{{ deposito.id }}">
                              <form id="FormDepositos"  method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {{ form.management_form }}
                                <table class="table table-hover text-nowrap">
                                  <thead>
                                    <tr>
                                      <th>Lote</th>
                                      <th>Producto</th>
                                      
                                      <th>fecha de envasado</th>
                                      <th>Cantidad disponible</th>
                                      <th>Cantidad a mover</th>
                                      <th>Eliminar producto</th>
                                      
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <div style="display:none">{{ formset.as_p }}</div>
                                    <h1 style="display:none" >{{ deposito.id }}</h1>
                                    
                                    {% comment %} <tr>
                                      <td><strong id="campo_lote"></strong></td>
                                      
                                        <td style="display:none">
                                          <select class="custom-select select_producto">
                                            <option selected value="">Seleccione un producto</option>
                                            {% for producto in stock_etiquetado %}
                                                <option value="{{ producto.id }}" data-model="etiquetado">{{ producto.varietal }} {{ producto.lote }} </option>
                                            {% endfor %}
                                            {% for producto in stock_empaquetado %}
                                                <option value="{{ producto.id }}" data-model="empaquetado">{{ producto.varietal }}</option>
                                            {% endfor %}
                                        </select>
                                        </td style="display:none">
                                        <td style="display:none"><strong class="tipo"></strong></td>
                                        <td style="display:none"><strong class="fecha_envasado"></strong></td>
                                        <td style="display:none"><input type="number" class="form-control" name=""></td>
                                        <td style="display:none"><button type="button" class="btn btn-block btn-outline-danger btn-sm eliminar_producto">Eliminar</button></td>
                                        
                                      
                                    </tr> {% endcomment %}

                                    
                                                                
                                  </tbody>
                                  
                                </table>
                                <div class="d-flex justify-content-center">
                                  <div class="col-10">
                                    <button type="button" id="agregar_producto" class="btn btn-block btn-outline-warning btn-lg" style="margin-top:20px">Agregar producto</button>
                                    <button type="submit" id="boton_envio_general" class="btn btn-block btn-outline-primary btn-lg" style="margin-bottom:20px">Mover Stock</button>
                                  </div>
                                </div>
                              </form>

                              
                              
                            </div>
                            <!-- /.card-body -->
                          
                          <!-- /.card -->
                        </div>
                      </div>
                    </div>
                  
                <!-- /.card-body -->
              
        </div>
    </section>

    <script>

      
      $(document).ready(function() {
        var contadorGeneral = 0;
        var maxFormularios = 10; // Máximo número de formularios permitidos
    
        // Función para agregar nuevos formularios dinámicamente
        $('#agregar_producto').click(function() {
            if (contadorGeneral < maxFormularios) {
                var nuevoFormulario = `
                    <tr>
                        <td><strong class="campo_lote"></strong></td>
                        <td>
                            <select class="custom-select select_producto" name="form-${contadorGeneral}-stock" id="form-${contadorGeneral}-stock">
                                <option selected value="">Seleccione un producto</option>
                                {% for producto in stock_etiquetado %}
                                    <option value="{{ producto.id }}" data-model="etiquetado">{{ producto.varietal }}, Lote: {{ producto.lote }}</option>
                                {% endfor %}
                                
                            </select>
                        </td>
                        
                        <td><strong class="fecha_envasado"></strong></td>
                        <td><strong class="cantidad_disponible"></strong></td>
                        <td><input type="number" class="form-control" name="form-${contadorGeneral}-cantidad" id="form-${contadorGeneral}-cantidad"></td>
                        <td><button type="button" class="btn btn-block btn-outline-danger btn-sm eliminar_producto">Eliminar</button></td>
                        <input type="hidden" name="form-${contadorGeneral}-deposito" value="${$('#depositoId').val()}" id="form-${contadorGeneral}-deposito">
                    </tr>`;
                $('table > tbody').append(nuevoFormulario);
                contadorGeneral++;
            }
        });
    
        // Eliminar producto
        $('table').on('click', '.eliminar_producto', function() {
            $(this).closest('tr').remove();
            contadorGeneral--;
        });
    
        
      
    
        // Función para manejar el cambio en el select de productos
        $('table').on('change', '.select_producto', function() {
            var productoId = $(this).val();
            var tr = $(this).closest('tr');
    
            // Limpia los campos si se selecciona la opción predeterminada
            if (productoId === "seleccione_un_producto") {
                tr.find('.campo_lote').text('');  
                tr.find('.fecha_envasado').text(''); 
                tr.find('.tipo').text(''); 
            } else {
                // Realiza la solicitud AJAX para obtener información del producto
                $.ajax({
                    url: '/get_producto_info/' + productoId + '/',
                    dataType: 'json',
                    success: function(data) {
                        tr.find('.campo_lote').text(data.lote);  
                        tr.find('.fecha_envasado').text(data.fecha_envasado); 
                        tr.find('.cantidad_disponible').text (data.cantidad_botellas + " Botellas")
                        
                    },
                    error: function(xhr, status, error) {
                        console.error("Error en AJAX: ", status, error);
                    }
                });
            }
        });
    
        
    });
    
    </script>
    





{% endblock content  %}




