{% extends "base.html" %}

{% block content  %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mover stock a <strong>{{ deposito.nombre }}</strong></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url "index_admin" %}">Inicio</a></li>
              <li class="breadcrumb-item active">Mover stock </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center ">
                  
                    </div>
                    </div>
                    <div class="card">
                      <div class="row">
                        <div class="col-12">
                          
                            <div class="card-header">
                              <h3 class="card-title">Mover Stock a <strong>{{ deposito.nombre }}</strong>  </h3>
              
                              <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
              
                                  <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            

                            
                            <div class="card-body table-responsive p-0">
                              <table class="table table-hover text-nowrap">
                                <thead>
                                  <tr>
                                    <th>Lote</th>
                                    <th>Producto</th>
                                    <th>Tipo</th>
                                    <th>fecha de envasado</th>
                                    <th>Cantidad a mover</th>
                                    <th>Eliminar producto</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><strong id="campo_lote"></strong></td>
                                    <form action="" method="post">
                                      {% csrf_token %}
                                      <td>
                                        <select class="custom-select select_producto">
                                          <option selected value="seleccione_un_producto">seleccione un producto</option>
                                          {% for producto in productos %}
                                            <option value="{{ producto.id }}">id: {{ producto.id }}, {{ producto.varietal }}, cantidad disponible: {{ producto.cantidad_botellas }}</option>
                                          {% endfor %}
                                        </select>
                                      </td>
                                      <td><strong class="tipo"></strong></td>
                                      <td><strong class="fecha_envasado"></strong></td>
                                      <td><input type="number" class="form-control" name="cantidad"></td>
                                      <td><button type="button" class="btn btn-block btn-outline-danger btn-sm eliminar_producto">Eliminar</button></td>
                                      <input type="hidden" name="deposito" id="depositoId" value="{{ deposito.id }}">
                                    </form>
                                  </tr>
                      
                                </tbody>
                                
                              </table>

                              <div class="d-flex justify-content-center">
                                <div class="col-10">
                                  <button type="button" id="agregar_producto" class="btn btn-block btn-outline-warning btn-lg" style="margin-top:20px">Agregar producto</button>
                                  <button type="submit" id="boton_envio_general" class="btn btn-block btn-outline-primary btn-lg" style="margin-bottom:20px">Mover Stock</button>
                                </div>
                              </div>
                              
                            </div>
                            <!-- /.card-body -->
                          
                          <!-- /.card -->
                        </div>
                      </div>
                    </div>
                  
                <!-- /.card-body -->
              
        </div>
    </section>

    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      
      const csrftoken = getCookie('csrftoken');
      
      // Agrega el token CSRF a la configuración de AJAX
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
      
      $(document).ready(function() {
        var contador = 0;
    
        $('#agregar_producto').click(function() {
          // Obtener el token CSRF
          var csrfToken = $('#csrf_token').val();
          var depositoId = $('#depositoId').val();
          if(contador < 9) {
            var nuevoFormulario = `
              <tr>
                <td><strong class="campo_lote"></strong></td>
                <form action="" method="post">
                  {% csrf_token %}
                  
                  <td>
                    <select class="custom-select select_producto">
                      <option selected value="seleccione_un_producto">seleccione un producto</option>
                      {% for producto in productos %}
                        <option value="{{ producto.id }}">id: {{ producto.id }}, {{ producto.varietal }}, cantidad disponible: {{ producto.cantidad_botellas }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td><strong class="tipo"></strong></td>
                  <td><strong class="fecha_envasado"></strong></td>
                  <td><input type="number" class="form-control" name="cantidad"></td>
                  <td><button type="button" class="btn btn-block btn-outline-danger btn-sm eliminar_producto">Eliminar</button></td>
                  <input type="hidden" name="deposito" value="${depositoId}">
                  
                </form>
              </tr>`;
            $('table > tbody').append(nuevoFormulario);
            contador++;
          }
        });
    
        // Eliminar producto
        $('table').on('click', '.eliminar_producto', function() {
          $(this).closest('tr').remove();
          contador--;
        });
    
        $('table').on('change', '.select_producto', function() {
          var productoId = $(this).val();
          var tr = $(this).closest('tr');
    
          if(productoId === "seleccione_un_producto") {
            tr.find('.campo_lote').text('');  
            tr.find('.fecha_envasado').text(''); 
            tr.find('.tipo').text(''); 
          } else {
            $.ajax({
              url: '/get_producto_info/' + productoId + '/',
              dataType: 'json',
              success: function(data) {
                tr.find('.campo_lote').text(data.lote);  
                tr.find('.fecha_envasado').text(data.fecha_envasado); 
                tr.find('.tipo').text(data.tipo); 
              },
              error: function(xhr, status, error) {
                console.error("Error en AJAX: ", status, error);
              }
            });
          }
        });
        $(document).on('click', '#boton_envio_general', function() {
          console.log("Botón cliqueado");
          var depositoId = $('#depositoId').val();
          var data = {};
      
          $('form').each(function(index) {
              $(this).serializeArray().forEach(function(field) {
                  data[field.name + '_' + index] = field.value;
              });
          });
      
          console.log("URL: ", '/deposito/mover_stock/'+ depositoId + '/');
          console.log("Datos a enviar: ", data);
      
          $.ajax({
              type: 'POST',
              url: '/deposito/mover_stock/'+ depositoId + '/',
              data: data,
              success: function(response) {
                  console.log("Respuesta exitosa: ", response);
              },
              error: function(xhr, status, error) {
                  console.error("Error en AJAX: ", status, error);
              }
          });
      });
        
      });


    </script>
    





{% endblock content  %}




