@method_decorator(csrf_exempt, name='dispatch')
class MoverStockEtiquetadoView(FormView):
    template_name='depositos/mover_stock.html'
    form_class = formset_factory(MoverStockForm, extra=2)
    success_url= reverse_lazy ('index_admin')
    
    def get_context_data(self, **kwargs: Any) -> dict[str, Any]:
        context = super(MoverStockEtiquetadoView, self).get_context_data(**kwargs)
        
    # Agrega tus variables personalizadas al contexto
        BODEGA_ID = 3
        deposito = get_object_or_404(Deposito, pk=self.kwargs['pk'])  # Asume que 'pk' se pasa como parámetro a la URL
        stock_etiquetado = StockBodegaEtiquetado.objects.filter(deposito_id=BODEGA_ID)

        # Agregar deposito y stock_etiquetado al contexto
        context['deposito'] = deposito
        context['stock_etiquetado'] = stock_etiquetado

        return context
    
        """ def form_valid(self, form):

            print("formulario valido")
            for f in form:
                print (f.cleaned_data)
                #f.save() 
                # return super(MoverStockEtiquetadoView, self).form_valid(form)"""
        def post(self, request, *args, **kwargs):
            formset = self.form_class(request.POST)
            if formset.is_valid():
                return self.form_valid(formset)
            else:
                return self.form_invalid(formset)
        
        def form_valid(self, formset):
            for form in formset:
                stock_id = form.cleaned_data.get('stock')
                cleaned_stock = stock_id.id
                cantidad = form.cleaned_data.get('cantidad')
                
                if stock_id and cantidad:
                    stock = StockBodegaEtiquetado.objects.get(id=cleaned_stock)

                    # Asegurarse de que la cantidad a mover no sea mayor que la cantidad disponible
                    if cantidad <= stock.cantidad_botellas:
                        stock.cantidad_botellas -= cantidad
                        if stock.cantidad_botellas <= 0:
                            stock.cantidad_botellas = 0
                            
                        print("este es el stock:" ,stock)
                        #stock.save()
                #form.save()
                print("estos son los forms enviados:", form)
                        
                        # Aquí podrías también crear y guardar la instancia de MoverStockEtiquetado
                        # MoverStockEtiquetado.objects.create(...)

            return super().form_valid(formset)

    def form_invalid(self, formset):
        
        print("formulario invalido")
        for form in formset:
            print(form.errors)
        return self.render_to_response(self.get_context_data(form=formset))
    