class RegistrarMoliendaView(LoginRequiredMixin, FormView):
    login_url = '/accounts/login/'
    template_name = 'administracion/registrar_molienda.html'
    form_class = Moliendaform
    success_url = reverse_lazy ('moliendas_registradas')
    
    
    def form_valid(self, form):
        # Aquí 'form.save()' devuelve una instancia del modelo Molienda que el formulario crea o actualiza
        molienda = form.save(commit=False)  # Utiliza commit=False para obtener la instancia sin guardarla todavía
        
        # Asignar el valor de rendimiento a disponible
        molienda.disponible = molienda.rendimiento
        
        molienda.save()  # Ahora sí guardamos la instancia en la base de datos

        # Finalmente, redirigir a 'success_url'
        return HttpResponseRedirect(self.get_success_url())
    
    def form_invalid(self, form):
        print(form.errors)
        response = super().form_invalid(form)
        return response
    
    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        cargamentos = Cargamento.objects.exclude(molienda__isnull=False)
        
        context ["cargamentos"] = cargamentos
        
            
        
        return context