{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Detalle de tanque</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Tanque N° <strong> {{ tanque_detalle.numero }}</strong></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid "
                     src="{% static "img\qr tanque 1.png" %}"
                     alt="Tanque numero">
              </div>

              <h3 class="profile-username text-center">Tanque N° <strong>{{ tanque_detalle.numero }}</strong></h3>

              {% comment %} <p class="text-muted text-center">Software Engineer</p> {% endcomment %}

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Material</b> <a class="float-right">{{ tanque_detalle.material }}</a>
                </li>
                <li class="list-group-item">
                  <b>Volumen</b> <a class="float-right">{{ tanque_detalle.volumen }} lts</a>
                </li>
                <li class="list-group-item">
                 <b>Contenido</b> <a class="float-right">
                  {% if contenido and contenido.cantidad > 0 and not contenido.embotellado %}
                  <p> {{ contenido.molienda.cargamento.varietal }}</p>
              {% else %}
                  <p>Vacio.</p>
              {% endif %}</a>
                </li>
                <li class="list-group-item">
                  <b>Lote</b> <a class="float-right">{% if contenido and contenido.cantidad > 0 and not contenido.embotellado %}
                    <p> {{ contenido.molienda.cargamento.lote }}</p>
                {% else %}
                    <p>Vacio.</p>
                {% endif %} </a>
                </li>
                <li class="list-group-item">
                  <b>cantidad</b> <a class="float-right">
                    {% if contenido.molienda %}
                    <a class="float-right">{% if contenido and contenido.cantidad > 0 and not contenido.embotellado %}
                      <p> {{ contenido.cantidad }}lts</p>
                  
                  {% endif %} </a>
                    {% else %}
                    <a class="float-right">{{ tanque_detalle.estado }}
                {% endif %}</a>
                </li>
                


              </ul>

              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-3">
              <ul class="nav nav-pills">
                
                <li class="nav-item"><a class="nav-link" href="#notas" data-toggle="tab">Agregar Nota</a></li>
                <li class="nav-item"><a class="nav-link" href="#notastanque" data-toggle="tab">Notas Tanque</a></li>
                {% comment %} <li class="nav-item"><a class="nav-link" href="#lineatiempo" data-toggle="tab">Historial contenido</a></li> {% endcomment %}
                <li class="nav-item"><a class="nav-link" href="#cargacontenido" data-toggle="tab">Cargar contenido</a></li>
                
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                
                <!-- /.tab-pane -->
                <div class="tab-pane" id="notas">
                  <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="form3">


                    <div class="form-group row" {% comment %} style="display:none" {% endcomment %}>
                      <label for="text" class="col-sm-2 col-form-label">Tanque</label>
                      <div class="col-sm-10">
                        
                        <input name="tanque" type="text" class="form-control" value="{{ tanque_detalle.id }}" readonly>
                      </div>
                    </div>

                    <div class="form-group row" {% comment %} style="display:none" {% endcomment %}>
                      <label for="text" class="col-sm-2 col-form-label">Fecha</label>
                      <div class="col-sm-10">
                        <input name="fecha_ingreso" type="text" class="form-control" value="{{ fecha }}" readonly>
                      </div>
                    </div>
                    <div class="form-group row" {% comment %} style="display:none" {% endcomment %}>
                      <label for="inputEmail" class="col-sm-2 col-form-label">Cargamento</label>
                      <div class="col-sm-10">
                        <input name="cargamento" type="text" class="form-control" value="{{ contenido.molienda.cargamento.id }}" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">Notas de cata</label>
                      <div class="col-sm-10">
                        {{form3.notas_de_cata | add_class:"form-control"}}
                        
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputName2" class="col-sm-2 col-form-label">Correcciones</label>
                      <div class="col-sm-10">
                        {{form3.correcciones | add_class:"form-control"}}
                        
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputExperience" class="col-sm-2 col-form-label">Observaciones</label>
                      <div class="col-sm-10">
                        {{form3.observaciones | add_class:"form-control"}}
                        
                      </div>
                    </div>
                    
                    

                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-block btn-danger btn-lg">Registrar notas</button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="tab-pane" id="notastanque">
                  {% if notas_tanque %}
                  
                  <section class="content">

                    <!-- Default box -->
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Notas tanque numero {{tanque_detalle.id}}</h3>
              
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                            
                            <div class="row">
                              <div class="col-12">
                                <h4>Notas recientes</h4>
                                {% for nota in notas_tanque  %}
                                <div class="post">
                                  <div class="user-block">
                                    
                                    <span class="username">
                                      Usuario: {{nota.usuario}}
                                    </span>
                                    <span class="description">{{nota.fecha}}</span>
                                  </div>
                                  <!-- /.user-block -->
                                  <h5><strong>Lote:</strong></h5>
                                  <p class="form-control" readonly>
                                    {{ nota.cargamento.lote}} 
                                  </p>

                                  <h5><strong>Varietal:</strong></h5>
                                  <p class="form-control" readonly>
                                    {{ nota.cargamento.varietal.nombre}} 
                                  </p>



                                  <h5><strong>Notas de cata:</strong></h5>
                                  <p class="form-control" readonly>
                                    {{ nota.notas_de_cata}}
                                  </p>

                                  <h5><strong>Correcciones:</strong></h5>
                                  <p class="form-control" readonly>
                                    {{ nota.correcciones}}
                                  </p>

                                  <h5><strong>Observaciones:</strong></h5>
                                  <p class="form-control" readonly>
                                    {{ nota.observaciones}}
                                  </p>
            
                                  
                                </div>
                                
                                {% endfor %}
                                  
              
                                  
              
                                  
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
              
                  </section>
                  
                  
                  
                  {% else %}
                  <h3>No hay notas disponibles.</h3>
                  {% endif %}
                  
                  
                </div>

                {% comment %} <div class="tab-pane" id="lineatiempo">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->
                    <div class="time-label">
                      <span class="bg-danger">
                        10 Feb. 2014
                      </span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-envelope bg-primary"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 12:05</span>

                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                        <div class="timeline-body">
                          Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                          weebly ning heekya handango imeem plugg dopplr jibjab, movity
                          jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                          quora plaxo ideeli hulu weebly balihoo...
                        </div>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-primary btn-sm">Read more</a>
                          <a href="#" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-user bg-info"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                        <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                        </h3>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-comments bg-warning"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                        <div class="timeline-body">
                          Take me to your leader!
                          Switzerland is small and neutral!
                          We are more like Germany, ambitious and misunderstood!
                        </div>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                        </div>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline time label -->
                    <div class="time-label">
                      <span class="bg-success">
                        3 Jan. 2014
                      </span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                      <i class="fas fa-camera bg-purple"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                        <div class="timeline-body">
                          <img src="http://placehold.it/150x100" alt="...">
                          <img src="http://placehold.it/150x100" alt="...">
                          <img src="http://placehold.it/150x100" alt="...">
                          <img src="http://placehold.it/150x100" alt="...">
                        </div>
                      </div>
                    </div>
                    <!-- END timeline item -->
                    <div>
                      <i class="far fa-clock bg-gray"></i>
                    </div>
                  </div>
                </div> {% endcomment %}
                <!-- /.tab-pane -->

                <div class="tab-pane" id="cargacontenido">
                  <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    


                    <input type="hidden" name="form_type" value="form1">

                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">Mover contenido</label>
                      <div class="col-sm-10">
                        <input type="checkbox" id="id_mover_contenido" name="mover_contenido">
                        <label for="id_mover_contenido">Mover contenido</label>
                      </div>
                    </div>

                    <div class="form-group row" >
                      <label for="inputEmail" class="col-sm-2 col-form-label">Tanque</label>
                      <div class="col-sm-10">
                          <input name="tanque" type="text" class="form-control" value="{{ tanque_detalle.id }}" readonly>
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label" >Molienda</label>
                      <div class="col-sm-10">
                        
                        <div class="form-group">
                          <div id="molienda_en_contenido"><select class="custom-select" name="molienda" onchange="obtenerCantidadDisponible(this.value)" >
                            
                            
                            {% for i in molienda_contenido %}
                              <option value="{{ i.molienda.id }}" data-contenido-id="{{ i.id }}">Lote:{{ i.molienda.cargamento.lote }},  Varietal: {{ i.molienda.cargamento.varietal }}, cantidad disponible: {{ i.cantidad }} lts, Tanque origen:{{ i.tanque.numero }}, {{ i.id }} </option>
                            {% endfor %}

                          </select></div> 

                            <div id="molienda_no_en_contenido"><select class="custom-select" name="molienda" onchange="obtenerCantidadDisponible(this.value)" >
                              <option selected>Seleccione una molienda</option>
                              
                              {% for i in molienda %}
                                <option value="{{ i.id }}">Lote:{{ i.cargamento.lote }},  Varietal: {{ i.cargamento.varietal }}, Rendimiento: {{ i.rendimiento }} lts, Disponible: {{ i.disponible }} lts</option>
                              {% endfor %}

                            </select></div>

                             

                            <script>
                              $(document).ready(function() {
                                // Función para alternar entre select de moliendas
                                function toggleMoliendaSelects() {
                                  if ($('#id_mover_contenido').is(':checked')) {
                                      $('#molienda_no_en_contenido').hide().find('select').prop('disabled', true);
                                      $('#molienda_en_contenido').show().find('select').prop('disabled', false);
                                  } else {
                                      $('#molienda_en_contenido').hide().find('select').prop('disabled', true);
                                      $('#molienda_no_en_contenido').show().find('select').prop('disabled', false);
                                  }
                              }
                            
                                // Llamar a toggleMoliendaSelects al cargar la página y en cada cambio del checkbox
                                toggleMoliendaSelects();
                                $('#id_mover_contenido').change(function() {
                                    toggleMoliendaSelects();
                            
                                    // El resto de tu lógica para manejar el cambio en el checkbox...
                                });
                            });
                            </script>
                            <script>
                              $(document).ready(function() {
                                // Asegúrate de que esta función se llame correctamente en respuesta al evento onchange del select relevante
                                function obtenerCantidadDisponible(selectElement) {
                                  // Accede al option seleccionado
                                  var selectedOption = selectElement.options[selectElement.selectedIndex];
                                  // Obtiene el data-contenido-id del option seleccionado
                                  var contenidoId = selectedOption.getAttribute('data-contenido-id').trim(); // Usa trim() para asegurarte de eliminar espacios extra
                                  console.log("Contenido ID:", contenidoId); // Para depuración
                              
                                  if ($('#id_mover_contenido').is(':checked')) {
                                      $.ajax({
                                          url: '/obtener_contenidos_tanques/' + contenidoId + '/', // Asegúrate de que la URL sea correcta
                                          success: function(data) {
                                              // Lógica para actualizar el UI basada en la respuesta
                                              console.log(data); // Imprime la respuesta para depuración
                                              // Ejemplo de cómo podrías querer actualizar el UI:
                                              $('#contenido-id').html('<input type="hidden" name="contenido_origen" value="' + contenidoId + '" readonly>');
                                              // Actualiza otros elementos del UI según sea necesario
                                          }
                                      });
                                  } else {
                                      $('#contenido-select').html('');
                                  }
                              }
                            
                                // Este código parece estar intentando llamar a una función que no se ha definido o mostrado previamente
                                // Si la intención es capturar el cambio en el select de "molienda", asegúrate de que la función llamada sea correcta
                                $('select[name="molienda"]').change(function() {
                                    obtenerCantidadDisponible(this); // Asegúrate de llamar a obtenerCantidadDisponible correctamente
                                });
                            
                                // Si el checkbox "id_mover_contenido" cambia, puede que también necesites ajustar el comportamiento aquí
                                $('#id_mover_contenido').change(function() {
                                    if (this.checked) {
                                        // Potencialmente, podrías querer forzar la recarga de la información basada en la selección actual
                                        var selectElement = $('select[name="molienda"]')[0];
                                        obtenerCantidadDisponible(selectElement);
                                    } else {
                                        $('#contenido-select').html('');
                                    }
                                });
                            });
                            
                              </script>
                              


                            
                          </div>
                      </div>
                    </div>

                    
                    
                    <div id="contenido-select" style="display:none"></div>
                    
                    <div id="contenido-id" style="display:none"></div>
                    

                    <div class="form-group row" >
                        <label for="inputEmail" class="col-sm-2 col-form-label">Cantidad (lts)</label>
                        <div class="col-sm-10">
                            <input name="cantidad" type="text" class="form-control" value="">
                        </div>
                      </div>

                      
                    
                      
                      <div class="form-group row" style="" >
                        <label for="inputEmail" class="col-sm-2 col-form-label">Fecha ingreso</label>
                        <div class="col-sm-10">
                          <input name="fecha_ingreso" type="text" class="form-control" value="{{ fecha }}" readonly>
                        </div>
                      </div>

                    
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-block btn-danger btn-lg">Registrar contenido</button>
                      </div>
                    </div>
                  </form>
                </div>

                
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</div>




{% endblock content %}




