{% extends "base.html" %}



{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Detalle stock etiquetado {{ stock.varietal }} </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url "index_admin" %}">Inicio</a></li>
              <li class="breadcrumb-item active">Detalle stock etiquetado {{ stock.varietal }} </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center ">
                  <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="fa-solid fa-wine-bottle"></i></span>
      
                    <div class="info-box-content ">
                        <span class="info-box-text">Total stock {{ stock.varietal }} empaquetado</span>
                        <span class="info-box-number">{{ total_cajas }}</span>
                    </div>
                    <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    </div>
                    </div>
                    <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detalle de Stock en bodega empaquetado</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Lote</th>
                                    <th>Varietal</th>
                                    <th>Cantidad de cajas</th>
                                    <th>Fecha de empaquetado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in stocks %}
                                <tr>
                                    <td>{{ stock.lote }}</td>
                                    <td>{{ stock.varietal.nombre }}</td>
                                    <td>{{ stock.cantidad_cajas }}</td>
                                    <td>{{ stock.fecha_empaquetado }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                  
                <!-- /.card-body -->
              
        </div>
    </section>





{% endblock content %}





