{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Embotellamiento</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Embotellamiento</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-warning">
                        <div class="card-header">
                          <h3 class="card-title">Complete el formulario para registrar un embotellamiento</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <form role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ insumos_formset.management_form }}
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- select -->
                                    <div class="form-group">
                                      <label>Contenido </label>
                                      <select class="form-control" name="contenido">
                                        <option selected disabled>Seleccione un contenido</option>
                                        {% for contenido in contenidos %}
                                            <option value="{{ contenido.id }}"><strong>Lote:</strong> {{ contenido.molienda.cargamento.lote }}, <strong>Varietal:</strong> {{ contenido.molienda.cargamento.varietal }}, <strong>Cantidad:</strong>{{ contenido.cantidad }}lts, <strong>Tanque:</strong> {{ contenido.tanque.numero }} </option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                  </div>

                              <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                  
                                  <input type="hidden" name="fecha_envasado" class="form-control" value="{{ fecha_hoy }}">
                                </div>
                              </div>

                              <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Cantidad de botellas</label>
                                    <input type="number" class="form-control" rows="3" placeholder="Ingrese cantidad de botellas" name="cantidad_botellas"></input>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Operarios</label>
                                    <textarea class="form-control" rows="3" placeholder="Ingrese operarios..." name="operarios"></textarea>
                                </div>
                            </div>
                            
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <textarea class="form-control" rows="3" placeholder="Ingrese observaciones..." name="observaciones"></textarea>
                                </div>
                            </div>

                            {% for form in insumos_formset %}
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label>Nombre insumo</label>
                                        {{ form.insumo | add_class:"form-control" }}
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label>Cantidad consumida</label>
                                        {{ form.cantidad_consumida | add_class:"form-control" }}
                                      </div>
                                    </div>
                                  </div>
                                  
                                  

                                </div> <!-- Este cierra el card-body de cada formset -->
                              {% endfor %}
                            
                            </div>
                            <button style="margin-top:30px" type="submit" class="btn btn-block btn-warning btn-lg">Registrar embotellamiento</button>
                          </form>
                        </div>
                        <!-- /.card-body -->
                      </div>



                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>


{% endblock content %}



