{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registrar empaquetado</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url "index_admin" %}">Inicio</a></li>
              <li class="breadcrumb-item active">Registrar empaquetado</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-warning">
                        <div class="card-header">
                          <h3 class="card-title">Complete el formulario para registrar las cajas embaladas</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form role="form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ insumos_formset.management_form }}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- select -->
                                        <div class="form-group">
                                            <label>Contenido</label>
                                            <select class="form-control" name="stock">
                                                <option selected disabled>Seleccione un stock a empaquetar</option>
                                                {% for stock_etiquetado in stock_etiquetados %}
                                                    <option value="{{ stock_etiquetado.id }}">id: {{ stock_etiquetado.id }} Lote {{ stock_etiquetado.lote }} Varietal: {{ stock_etiquetado.varietal }} Cantidad: {{ stock_etiquetado.cantidad_botellas }} botellas</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                            
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>{{fecha_hoy}}</label>
                                            <input type="hidden" name="fecha_empaquetado" class="form-control" value="{{ fecha_hoy }}" >
                                        </div>
                                    </div>
                            
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Cantidad de cajas a empaquetar</label>
                                            <input type="number" name="cantidad_cajas" class="form-control" placeholder="Ingrese la cantidad de cajas" min="0" oninput="validity.valid||(value='');">
                                        </div>
                                    </div>

                                    {% for form in insumos_formset %}
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <div class="form-group">
                                              <label>Nombre insumo</label>
                                              {{ form.insumo | add_class:"form-control" }}
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-sm-12">
                                            <div class="form-group">
                                              <label>Cantidad consumida</label>
                                              {{ form.cantidad_consumida | add_class:"form-control" }}
                                            </div>
                                          </div>
                                        </div>
                                        
                                        

                                      </div> <!-- Este cierra el card-body de cada formset -->
                                    {% endfor %}
                            
                                    <button style="margin-top:30px" type="submit" class="btn btn-block btn-warning btn-lg">Registrar empaquetado</button>
                            </form>
                            
                        </div>
                        <!-- /.card-body -->
                      </div>



                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>




{% endblock content %}
