{% extends "base.html" %}


{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Stock</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>1500000</h3>

                <p>Stock Bodega</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-wine-bottle"></i>
              </div>
              <a href="#" class="small-box-footer">+ Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>5300<sup style="font-size: 20px"></sup></h3>

                <p>Stock Pablo Lorenzo</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-wine-bottle"></i>
              </div>
              <a href="#" class="small-box-footer">+ Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>2100</h3>

                <p>Stock Emiliano Lorenzo</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-wine-bottle"></i>
              </div>
              <a href="#" class="small-box-footer">+ Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>650</h3>

                <p>Stock Carlos Tinto</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-wine-bottle"></i>
              </div>
              <a href="#" class="small-box-footer">+ Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Stock sin etiquetar</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Varietal</th>
                            <th>N° lote</th>
                            <th style="width: 40px">Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td>Moscatel de Alejandría</td>
                            <td>ABCD23</td>
                            <td>7500</td>
                          </tr>
                          <tr>
                            <td>2.</td>
                            <td>Blanco Dulce</td>
                            <td>EFGH23</td>
                            <td>6000</td>
                          </tr>
                          <tr>
                            <td>3.</td>
                            <td>Malbec</td>
                            <td>IJKL23</td>
                            <td>8500</td>
                          </tr>
                          <tr>
                            <td>4.</td>
                            <td>Malbec Oak</td>
                            <td>MNOP23</td>
                            <td>7200</td>
                          </tr>
                          <tr>
                            <td>5.</td>
                            <td>Malbec Barrica</td>
                            <td>QRST23</td>
                            <td>9500</td>
                          </tr>
                          <tr>
                            <td>6.</td>
                            <td>Cabernet Sauvignon</td>
                            <td>UVWX23</td>
                            <td>8100</td>
                          </tr>
                          <tr>
                            <td>7.</td>
                            <td>Cabernet Franc</td>
                            <td>YZAB23</td>
                            <td>5600</td>
                          </tr>
                          <tr>
                            <td>8.</td>
                            <td>Bonarda</td>
                            <td>CDEF23</td>
                            <td>7200</td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
                <!-- /.card-body -->
              </div>
            <!-- /.card -->

            

            <!-- TO DO List -->
            
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}



