{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Stock etiquetado</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url "index_admin" %}">Inicio</a></li>
              <li class="breadcrumb-item active">Stock etiquetado</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-warning">
                        <div class="card-header">
                          <h3 class="card-title">Complete el formulario para registrar un embotellamiento</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <form role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ insumos_formset.management_form }}
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- select -->
                                    <div class="form-group">
                                      <label>Contenido </label>
                                      <select class="form-control" name="stock">
                                        <option selected disabled>Seleccione un stock a etiquetar</option>
                                        {% for stock_embotellado in stock_embotellados %}
                                            <option value="{{ stock_embotellado.id }}">id: {{ stock_embotellado.id }} Lote {{ stock_embotellado.lote }} Varietal: {{ stock_embotellado.varietal }} Cantidad: {{ stock_embotellado.cantidad_botellas }} botellas </option>
                                            
                                        
                                        {% endfor %}

                                      </select>
                                    </div>
                                  </div>

                              <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                  <label>Fecha etiquetado</label>
                                  <input type="text" name="fecha_etiquetado" class="form-control" value="{{ fecha_hoy }}" readonly>
                                </div>
                              </div>

                              <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                  <label>Cantidad de botellas a etiquetar</label>
                                        <input type="number" name="cantidad_botellas" class="form-control" placeholder="Ingerse la cantidad de botellas" min="0" oninput="validity.valid||(value='');">

                                        <style>
                                        input[type="number"]::-webkit-inner-spin-button, 
                                        input[type="number"]::-webkit-outer-spin-button { 
                                          -webkit-appearance: none; 
                                          margin: 0; 
                                        }
                                        </style>
                                </div>
                              </div>

                              
                            
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Operarios</label>
                                    <textarea class="form-control" rows="3" placeholder="Ingrese operarios..." name="operarios"></textarea>
                                </div>
                            </div>
                            
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Observaciones</label>
                                    <textarea class="form-control" rows="3" name ="observaciones" placeholder="Ingrese observaciones..." name="observaciones"></textarea>
                                </div>
                            </div>
                            {% for form in insumos_formset %}
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label>Nombre insumo</label>
                                        {{ form.insumo | add_class:"form-control" }}
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label>Cantidad consumida</label>
                                        {{ form.cantidad_consumida | add_class:"form-control" }}
                                      </div>
                                    </div>
                                  </div>
                                  
                                  

                                </div> <!-- Este cierra el card-body de cada formset -->
                              {% endfor %}
                            
                            </div>
                            <button style="margin-top:30px" type="submit" class="btn btn-block btn-warning btn-lg">Registrar Etiquetado</button>
                          </form>
                        </div>
                        <!-- /.card-body -->
                      </div>



                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>




{% endblock content %}





