{% extends "base.html" %}
{% load url_utils %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Stock bodega etiquetado</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url "index_admin" %}">Inicio</a></li>
              <li class="breadcrumb-item active">Stock bodega Etiquetado</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
           
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center ">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="fa-solid fa-wine-bottle"></i></span>

              <div class="info-box-content ">
                <span class="info-box-text">Total stock bodega empaquetado</span>
                <span class="info-box-number">{{ total_cajas }}</span>
            </div>
            <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Detalle de Stock en bodega empaquetado</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Varietal</th>
                                <th>Cantidad de cajas</th>
                                <th>+ detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            {% for varietal, cantidad in cantidades.items %}
                              <tr>
                                  <td>{{ varietal }}</td>
                                  <td>{{ cantidad }}</td>
                                  <td><a href="{% url 'stock_detail_empaquetado' varietal|urlify %}">Ver más detalles</a></td>
                              </tr>
                              {% endfor %}
                          
                        
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- /.card-body -->
          </div>
    </section>



{% endblock content %}
